// Math Helpers
// ============


// Pow
// ---
@function _accoutrement-pow(
  $number,
  $exponent
) {
  // mathsass pow function
  @if function-exists('pow') {
    @return pow($number, $exponent);
  }

  // Simple pow function fallback
  $_return: 1;

  @if $exponent == 0 {
    @return $_return;
  }

  @for $i from 1 through abs($exponent) {
    $_return: $_return * $number;
  }

  @if $exponent < 0 {
    $_return: 1 / $_return;
  }

  @return $_return;
}
