// Arrow Tests
// ===========

@import "true";

// Test Module
// -----------

@include test-module('scale') {

  // _get-size
  @include test(_get-size) {
    $test: _get-size(normal);
    $expect: 0;
    @include assert-equal($test, $expect,
      'Returns a size or scale-position based on keyword.');
  }

  // size
  @include test(size) {
    $test: size(gutter);
    $expect: 1.5em;
    @include assert-equal($test, $expect,
      'Returns named size from $sizes map.');
  }

  // get-font-size
  @include test(get-font-size) {
    $test: get-font-size(h1);
    $expect: (
      font-size: 5.0625em,
      line-height: 6em
    );
    @include assert-equal($test, $expect,
      'Returns a map with calculted font size and line-height.');

    $test: get-font-size(24px, 5);
    $expect: (
      font-size: 1.5em,
      line-height: 7.5em
    );
    @include assert-equal($test, $expect,
      'Returns a map with explicit font-size and line-height.');
  }
}

// Report
// ------

@include report;

