// Type Tests
// ==========


// [private] Get Lines
// -------------------
@include test-module('_get-lines [function]') {
  @include test('Calculate lines from named size') {
    @include assert-equal(
      _get-lines('big'),
      5.5,
      'Returns the number of lines needed for a named font size.');
  }

  @include test('Calculate lines from explicit length') {
    @include assert-equal(
      _get-lines(30px),
      1.5,
      'Returns the number of lines needed for an explicit font size.');
  }
}


// Font Size [mixin]
// -----------------
@include test-module('font-size [mixin]') {
  @include test('Implicit lines') {
    @include assert('Output sizes based on named scale and calculated lines') {
      @include input {
        @include font-size('h1');
      }

      @include expect {
        font-size: 4rem;
        line-height: 4.5rem;
      }
    }
  }

  @include test('Set font-size and line-height') {
    @include assert('Output sizes based on explicit size and lines') {
      @include input {
        @include font-size(24px, 3);
      }

      @include expect {
        font-size: 1.5rem;
        line-height: 4.5rem;
      }
    }
  }

  @include test('Add extra line-height') {
    @include assert('Line-height adjusted for extra space when equal to font') {
      @include input {
        @include font-size('rhythm');
      }

      @include expect {
        font-size: 1.5rem;
        line-height: 2.25rem;
      }
    }
  }
}


// Browser Ems [function]
// ----------------------
$sizes: map-merge($sizes, ('root': 20px));

@include test-module('browser-ems [function]') {
  @include test('Converts px size to browser em size') {
    @include assert-equal(
      browser-ems(24px),
      1.5em,
      'Convert px to root browser ems');
  }

  @include test('Converts rem size to browser em size') {
    @include assert-equal(
      browser-ems(2rem),
      2.5em,
      'Convert rem to root browser ems');
  }
}

$sizes: map-merge($sizes, ('root': $_BROWSER-DEFAULT-FONT-SIZE));


// Baseline [mixin]
// ----------------
@include test-module('baseline [mixin]') {
  @include test('Set initial font-size and line-height') {
    @include assert('Output relative initial font-size and line-height') {
      @include input {
        @include baseline;
      }

      @include expect {
        font-size: 100%;
        line-height: 1.5em;
      }
    }
  }
}
